# OilDesk-Python-Assessment: Question 2

I am using SQLite for this question.

In [1]:
import sqlite3

## 1. Create an SQL table schema to store time-series metal prices. Include fields like **`Date`**, **`Metal`**, **`Price`**

In [2]:
# Connects to the database metal_prices.db
conn = sqlite3.connect('metal_prices.db')

# Creates a cursor object to perform SQL operations on the database
c = conn.cursor()

**`sqlite3.connect()`** will connect to the database **`metal_prices.db`** if it exists in the current working directory (implicitly creating the database if it does not already exist) and establishes a connection object that is stored in the variable **`conn`**.

In [3]:
# Deletes the table metal_analysis if it exists
c.execute('''
DROP TABLE IF EXISTS metal_analysis
''')

In [4]:
# Creates a new table metal_analysis if it does not already exist
c.execute('''CREATE TABLE IF NOT EXISTS metal_analysis(
    Date DATE,
    Metal TEXT,
    Price REAL,
    MACD_Fast REAL,
    Signal_Fast REAL,
    MACD_Medium REAL,
    Signal_Medium REAL,
    MACD_Slow REAL,
    Signal_Slow REAL,
    RSI REAL
)
''')

## 2. Demonstrate basic CRUD operations

In [5]:
# Create: inserts data into the table
c.execute("INSERT INTO metal_analysis (Date, Metal, Price) VALUES ('2020-04-24', 'Copper', 10000.00)")

# Saves all the changes made in the transaction to the database metal_prices.db
conn.commit()

In [6]:
# Read: queries data from the table
c.execute("SELECT Date, Metal, Price FROM metal_analysis")

# Iterates over query results held by the cursor object
for row in c:
    print(row)

('2020-04-24', 'Copper', 10000.0)

In [7]:
# Update: modifies data in the table
c.execute("UPDATE metal_analysis SET Price = 9000.00 WHERE Metal = 'Copper' AND Date = '2024-04-24'")
conn.commit()

In [8]:
# Delete: removes data from the table
c.execute("DELETE FROM metal_analysis WHERE Metal = 'Copper'")
conn.commit()

In [9]:
# Closes the connection to the database to avoid file locks or data corruption
conn.close()